# Default sdkconfig values — override in menuconfig or CI
CONFIG_WIFI_SSID="Pixel_4719"
CONFIG_WIFI_PASSWORD="uusu2026"
CONFIG_NODE_ID=2
CONFIG_HOST_IP="10.36.85.210"
CONFIG_HOST_PORT=5005

# Power & performance
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240=y
CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_WIFI_CSI_ENABLED=y

# Disable power save for lowest latency
CONFIG_PM_ENABLE=n
CONFIG_ESP_WIFI_STA_DISCONNECTED_PM_ENABLE=n

# OTA
CONFIG_ESP_HTTPS_OTA_ALLOW_HTTP=y
